.form {
  margin: 32px 0;
}

.fieldGroup {
  display: flex;
  width: 100%;
}

.action {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.fieldItem {
  padding: 8px 16px;
}

.input {
  background: #fffbf5;
  border-radius: 16px !important;
  border: 1px solid transparent;
}

.input input {
  border-radius: 16px !important;
  border: 1px solid transparent;
  color: rgba(99, 99, 99, 1) !important;
}

.deliveryTypes {
  width: 100%;
  background: rgba(255, 251, 245, 1);
  border-radius: 12px;
  display: flex;
}

.activeDeliveryType {
  background: #63142c;
  color: white !important;
}

.deliveryType {
  color: rgba(99, 20, 44, 1);
  transition: 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 8px 16px;
  width: 50%;
}

.selectIcon {
  margin: 0 8px;
}

.times {
  overflow-x: scroll;
}

.dateHelperText {
  display: flex;
  align-items: center;
  color: rgba(99, 20, 44, 1) !important;
}

.dateHelperText svg {
  margin-right: 8px;
}

.padding {
  padding: 0 16px;
}

.loader {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(99, 20, 44, 1);
  color: rgba(255, 255, 255, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.closeButton {
  position: fixed !important;
  top: 8px;
  right: 8px;
}
