.root {
  background: #f8f8f8;
  border-radius: 12px;
  width: calc(100%) !important;
  margin: 0 auto !important;
}

.image {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  min-height: 200px;
  height: 60vw;
  max-height: 410px;
  border-radius: 8px;
}

.aboutText {
  padding: 8px;
}

.skeletonText {
  padding-bottom: 0 !important;
}
