.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1300;
  background: #63142c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
